@font-face {
  font-family: 'Roboto Slab';
  src: url(../fonts/RobotoSlab-Medium.ttf);
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto Slab';
  src: url(../fonts/RobotoSlab-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: 'Roboto Slab';
  src: url(../fonts/RobotoSlab-Bold.ttf);
  font-weight: bold;
}
* {
  font-family: 'Roboto Slab', Georgia, 'Times New Roman', Times, serif;
}

/* header e footer */
header, footer {
  background: #2E2E2E;
}
header nav a, footer nav a {
  color: #ffffff;
  font-size: 18px;
  transition: all 200ms;
}
header nav a:hover, footer nav a:hover {
  color: #6699FF;
}
header nav a:active, footer nav a:active {
  color: #00CC00;
}
header nav ul > :first-child::before {
  content: none;
}
header nav li::before {
  content: '';
  width: 1px;
  height: 100%;
  display: block;
  background: #ffffff;
  margin: 0 15px;
}
.navbar-toggler {
  border: 1px solid #ffffff;
  padding: 10px;
}

/* tema */
.button-send-mail:hover{
  border: 1px solid #6699ff;
  filter: brightness(0.645);
}
input.form-control, textarea.form-control{
  border-color: #004C92;
  border-width: 2px;
}
.paragrafo {
  font-size: 20px;
  line-height: 35px;
}
a.active {
  color: #6699FF;
  text-decoration: underline;
}
button:focus {
  outline-color: #6699FF;
}
.bg-cinza {
  background: #E4E4E4;
}
.bg-preto {
  background: #232323;
}
h1.titulo-paginas{
  border-left: 1px solid #5B5B5B;
  padding-left: 10px;
}
em {
  font-style: normal;
}
.numero-artigo {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 55px;
  z-index: 10;
  transform: translate(-50%, -50%);
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
}
.bg-botoes-navegacao {
  background: rgba(0, 0, 0, 0.6);
}

/* home */
.img-perfil {
  height: 60px;
  width: 60px;
}
img.img-fluid {
  margin: 0 auto;
  display: block;
}
.form-email-contact{
  background: #F2F2F2;
  margin: 0 auto;
  border-top: 3px solid #4F4F4F;
}
.text-comment-name {
  color: #6699ff;
}
.btn-conheca {
  bottom: 50px;
  left: 50%;
  transform: translate(-50%);
}

/* pagina contato */
.pagina-contato .card {
  max-width: 300px;
}

/* pagina quem-somos */
.quem-somos .card {
  background: #F2F2F2;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  max-width: 590px;
  min-height: 740px;
}
.card-prioridades {
  border-radius: 15px;
}
.quem-somos .card-body h2{
  color: #343434;
}
.quem-somos .card-body p{
  color: #4D4D4D;
  font-size: 20px;
}
.pagina-contato img {
  max-width: 150px;
}

/* pagina normas */
.perguntas {
  width: 49%;
  border-radius: 10px;
}

/* paginas de artigos */
.w-customizado {
  max-width: 220px;
}
.banner-postagem {
  background-size: cover;
  height: 600px;
  color: #ffffff;
}
.titulo-sombreado {
  text-shadow: 4px 4px 4px #000000;
}
.subtitulo-opacidade {
  color: #ffffffc4;
  text-shadow: 4px 4px 4px #000000;
}
article > .bg-opacidade {
  background: rgba(0, 0, 0, 0.8);
}
/* banners */
.acao-aventura .banner-postagem {
  background: url(../images/acao/banner-acao.png) center;
}
.terror .banner-postagem {
  background: url(../images/terror/banner-terror.png) center;
}
.rpg .banner-postagem {
  background: url(../images/rpg/banner-rpg.png) center;
}
.pixel .banner-postagem {
  background: url(../images/pixel/banner-pixel.png) center;
}
@media screen and (min-width: 578px) {
  .banner-1, .banner-2 {
    background-size: cover;
  }
  .acao-aventura .banner-1 {
    background: url(../images/acao/171-lg.png) center;
  }
  .acao-aventura .banner-2 {
    background: url(../images/acao/rio-lg.png) center;
  }
  .terror .banner-1 {
    background: url(../images/terror/fobia-lg.png) center;
  }
  .terror .banner-2 {
    background: url(../images/terror/enefn-lg.png) center;
  }
  .rpg .banner-1 {
    background: url(../images/rpg/lenin-lg.png) center;
  }
  .rpg .banner-2 {
    background: url(../images/rpg/ponami-lg.png) center;
  }
  .pixel .banner-1 {
    background: url(../images/pixel/celeste-lg.png) center;
  }
  .pixel .banner-2 {
    background: url(../images/pixel/chroma-squad-lg.png) center;
  }
}
/* responsividade numero artigo */
@media screen and (max-width: 578px){
  .numero-artigo {
    top: 5%;
  }
}
@media screen and (min-width: 578px) and (max-width: 992px){
  .numero-artigo {
    left: 24%;
  }
}

/* lg */
@media screen and (min-width: 992px){
  .links.collapse {
    display: flex;
  }
  nav.collapse {
    margin-top: -43px;
    margin-bottom: 30px;
  }
  .logos {
    margin-bottom: -110px;
  }
}

/* md */
@media screen and (max-width: 576px){
  .perguntas {
    width: 100%;
  }
}

/* sm */
@media screen and (max-width: 992px){
  header nav li::before {
    content: none;
  }
  .fixed-bottom {
    background: #2e2e2e;
  }
  .face {
    width: 14px !important;
  }
}