@charset "utf-8";
.terror-img-intro{
    width:100%;
    margin-bottom: 20px;
}
.text-intro{
    margin: 0 auto;
}
h3{
    position:relative;
    left:-504px;
    text-align: center;
    color:#6699FF;
}
.text-center{
    margin: 30px 0 ;
}